.outer {
  width: 100vw;
  overflow-y: hidden;
  .buttons {
    position: fixed;
    z-index: 1;
    ion-button {
      width: 50px;
    }
    &.left {
      top: calc(50vh - 25px);
      left: 25px;
    }

    &.right {
      top: calc(50vh - 25px);
      right: 25px;
    }
    span {
      cursor: pointer;
    }
  }
  .inner {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 100vh;
    .content {
      position: relative;
      width: fit-content;
      img {
        height: 100vh;
        max-width: unset;
      }
      ion-button {
        position: absolute;
        --ion-color-base: none !important;
      }
    }
  }
  .focus-btn {
    position: absolute;
    opacity: 0;
  }
}
::ng-deep body {
  margin: 0 !important;
}
